{% extends '@App/Main/header.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Список пациентов{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Добавить пациента</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button type="submit" class="btn-default btn">Добавить пациента</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>


{% endblock content %}