{% extends '@App/Main/header.html.twig' %}
{% block title %}Пациент {{ patient.name }}{% endblock %}
{% block content %}
    <div class="container">
        <h2 style="color: darkgrey">Пациент {{ patient.surname }} {{ patient.name }} {{ patient.patronymic }}</h2>
        {% if is_granted("ROLE_ADMIN") %}
            <div style="float: right">
                <a style="font-size: 20px" href="{{ path('patient_edit', { 'id': patient.id }) }}">Редактировать пациента</a>
            </div>
        {% endif %}

        <div class="row">
            {% if is_granted(["ROLE_SUPER_DOCTOR", "ROLE_ADMIN"]) %}
                <div style="padding-left: 15px">
                    <form action="{{ path('app_hospital_adddoctor', {'patient_id' : patient.id}) }}" method="post"
                          class="form-inline">
                        <div class="form-group">
                            {{ form_widget(add_form.doctor, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <input type="submit" value="Назначить врача" class="btn btn-success">
                    </form>

                </div>
                <div>
                    {% if patient.doctor != null %}
                        <div class="col-lg-6">
                            <span style="display: none" id="doctor_id">{{ patient.doctor.id }}</span>
                            <span style="display: none" id="patient_id">{{ patient.id }}</span>
                            <h3>Назначение расписания</h3>
                            <form id="set-schedule">
                                <input id="set-date" type="date" required>
                                <input id="set-time" type="time" required> Выберите дату и время
                                <br/><br/>
                                <select id="set-type">
                                    <option>Осмотр</option>
                                    <option>Консультация</option>
                                </select>
                                <br/><br/>
                                <input class="btn btn-success" id="set-schedule-submit" type="submit" value="Назначить расписание">
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <h3>Просмотр расписания</h3>
                            <div id="doctor-date"></div>
                            <ul id="doctor-schedule"></ul>
                        </div>

                    {% endif %}
                </div>

            {% endif %}
        </div>

        <div class="patient_info">
            <h3>Информация о пациенте</h3>
            <h4 class="profile_caption">Дата рождения: </h4>{{ patient.birthdate | date ('Y-m-d')}}
            <h4 class="profile_caption">ИНН: </h4>{{ patient.inn }}
            {% if patient.doctor != null %}
            <h4 class="profile_caption">Лечащий врач:</h4> {{ patient.doctor.name }}
            {% else %}
                <p>Врач не назначен</p>
            {% endif %}
        </div>
        <hr>

        <div class="col-lg-offset-2 col-lg-8">

            {% if records_doctor != null %}
                <h3 style="text-align: center">Записи лечащего врача:</h3>
                {% for record in records_doctor %}
                    <div class="doctor-record">
                        <p class="date-doctor"> {{ record.date | date ('d-m-Y') }}. <i>Лечащий врач: {{ record.doctor.name }}:</i></p>
                        <p>{{ record.record }}</p>
                        {% if record.doctorfile != null %}
                            <h6>
                                Загруженный файл:
                                <a href="{{ vich_uploader_asset(record, 'differentFile') }}">{{ record }}</a>
                            </h6>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            <div style="margin-bottom: 20px">
                {% if patient.doctor != null %}
                    {% if doctor.id == patient.doctor.id %}
                        {{ form_start(form) }}
                        {{ form_widget(form.record, {'attr': {'class': 'textarea'}}) }}
                        {{ form_widget(form.differentFile) }}
                        <br>
                        <input type="submit" value="Добавить" class="btn btn-primary">
                        {{ form_end(form) }}
                    {% else %}
                        <p>Лечащий врач: {{ patient.doctor.name }}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <br>
    </div>

    <script>

        var doctor_id = $('#doctor_id').text();
        var patient_id = $('#patient_id').text();

        $('#set-date').change(function (e) {
            e.preventDefault();
            var day, month, year;
            var date = $('#set-date').val().split("-");
                day = date[2];
                month = date[1];
                year = date[0];
                date = year + '-' + month + '-' + day;
            $.ajax({
                type: 'POST',
                url: '/find-schedule/' + doctor_id + '/' + date,
                success: function (datas) {
                    var schedule = $('#doctor-schedule');
                    $('#doctor-date').html('');
                    $('#doctor-date').append(
                        '<h4>Расписание назначенного врача на ' + date + '</h4>'
                    );
                    schedule.html('');
                    if (datas.length > 0) {
                        $.each(datas, function (i, data) {
                            schedule.append(
                                '<li class="schedule_list">' + data.time + " " + data.name + " " + data.surname + " | " + data.type +'</li>'
                            )
                        });
                        var elements = document.getElementsByClassName('schedule_list');
                        for(var i = 0; i < elements.length; i++) {
                            if (i % 2 == 0) {
                                elements[i].style.backgroundColor = 'lightgrey';
                            } else {
                                elements[i].style.backgroundColor = 'white';
                            }
                        }
                    } else {
                        schedule.append(
                            '<p>День свободен</p>'
                        )
                    }
                }
            });
        });

        $('#set-schedule').submit(function (e) {
            e.preventDefault();
            var time = $('#set-time').val();
            var day, month, year;
            var date = $('#set-date').val().split("-");
            day = date[2];
            month = date[1];
            year = date[0];
            date = year + '-' + month + '-' + day;
            var type = $('#set-type').val();
            var date_time = date + ' ' + time;
            var data = {
                date: date,
                time: time,
                date_time: date_time,
                type: type,
                doctor_id: doctor_id,
                patient_id: patient_id
            };
            $.ajax({
                type: 'POST',
                url: '/set-schedule',
                data: {'data': JSON.stringify(data)},
                success: function (datas) {
                    if(datas == 'fail') {
                        alert('Время занято');
                    } else {
                        var schedule = $('#doctor-schedule');
                        $('#doctor-date').html('');
                        $('#doctor-date').append(
                            '<h4>Расписание назначенного врача на ' + date + '</h4>'
                        );
                        schedule.html('');
                        if (datas.length > 0) {
                            $.each(datas, function (i, data) {
                                schedule.append(
                                    '<li class="schedule_list">' + data.time + " " + data.name + " " + data.surname + " | " + data.type +'</li>'
                                )
                            });
                            var elements = document.getElementsByClassName('schedule_list');
                            for(var i = 0; i < elements.length; i++) {
                                if (i % 2 == 0) {
                                    elements[i].style.backgroundColor = 'lightgrey';
                                } else {
                                    elements[i].style.backgroundColor = 'white';
                                }
                            }
                        } else {
                            schedule.append(
                                '<p>День свободен</p>'
                            )
                        }
                    }
                }
            });
        })
    </script>
{% endblock content %}
