{% extends '@App/Main/header.html.twig' %}

{% block content %}

    {% if is_granted("ROLE_DOCTOR") %}
        <div class="container">
            <div class="col-lg-12">
                <h2>{{ doctor.name }}</h2>
            </div>
            <div class="col-lg-6">
                <h3>Список пациентов</h3>
                <ul>
                    {% for patient in doctor.patients %}
                        <li><a href="{{ path('app_hospital_patientprofile', {id: patient.id}) }}">{{ patient.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                <form action="{{ path('app_hospital_personalarea') }}" method="post">
                    <div class="form-group">
                        <label for="schedule-date">Выберите дату расписания
                            <input id="schedule-date" type="date" name="schedule-date" required/>
                        </label>
                        <input type="submit" value="Перейти"/>
                    </div>
                </form>
                <h3>Расписание</h3>
                {% if schedules is empty %}
                    <h4>День свободен</h4>
                {% endif %}
                <h5>Дата: {{ date }}</h5>
                <ul>
                    {% for schedule in schedules %}
                        <li>{{ schedule.date | date ('H:i') }} <a href="{{ path('app_hospital_patientprofile', {id: schedule.id}) }}">{{ schedule.name }} {{ schedule.surname }}</a> | {{ schedule.type }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
        <div class="container">
            <h4><a id="patients-list-link" href="{{ path('app_hospital_patients') }}">Список пациентов</a></h4>
            <h4><a href="{{ path('app_hospital_applications') }}">Список заявок</a></h4>
            <h4><a href="{{ path('sonata_admin_dashboard') }}">Админка</a></h4>
            <h4><a href="{{ path('fos_user_security_logout') }}">Выход</a></h4>
        </div>
    {% endif %}

    {% if is_granted("ROLE_SUPER_DOCTOR") %}
        <div class="container">
            <h2>{{ doctor.name }}</h2>
            <h3>Главный врач</h3>
            <h4><a href="{{ path('app_hospital_patients') }}">Список пациентов</a></h4>
            <h4><a href="{{ path('app_main_doctors') }}">Список врачей</a></h4>
            <h4><a href="{{ path('fos_user_security_logout') }}">Выход</a></h4>
        </div>
    {% endif %}

{% endblock %}

{% block title %}

{% endblock %}

