{% extends '@App/Main/header.html.twig' %}

{% block title %}Заявки{% endblock %}

{% block content %}
    <div class="container">
        <h3>Найдено заявок: {{ quantity }}</h3>

        <a class="btn btn-primary" href="{{ path('app_hospital_applications') }}">Вернуться к списку заявок</a>

        <form action="{{ path('app_hospital_findapplications') }}" method="post">
            <div class="form-group">
                <label for="findApplication">Искать заявки за другую дату
                    <input id="findApplication" type="date" name="findDateApplication" required/>
                </label>
                <input type="submit" value="Поиск"/>
            </div>
        </form>

        <table class="table table-bordered table-hover">
            {% for application in pagination %}
                {% if application.examined == true %}
                    <tr class="text-muted clickable-row"
                        data-href="{{ path('app_hospital_detailapplications', {application_id: application.id}) }}">
                        <td>{{ application.name }}</td>
                        <td>{{ application.date|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% else %}
                    <tr style="font-weight: bold" class="clickable-row"
                        data-href="{{ path('app_hospital_detailapplications', {application_id: application.id}) }}">
                        <td>{{ application.name }}</td>
                        <td>{{ application.date|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock content %}