{% extends '@App/Main/header.html.twig' %}

{% block title %}
    Результат поиска
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Результат:</h3>
        <hr>
        {% if result_news or result_doctor %}
            {% for search_news in result_news %}
                {% if search_news.title != null  %}
                    <a href="{{ path('app_main_showonenews', {id: search_news.id}) }}" class="news_title">
                        {{ search_news.title }}</a>
                    <p class="news_date">{{ search_news.date|date('Y-m-d') }}</p>
                {% endif %}
                {% if search_news.content != null %}
                    <p>{{ search_news.content|striptags |truncate(200, true) |raw }}</p><hr>
                {% endif %}
            {% endfor %}

            {% for search_doctor in result_doctor %}
                {% if search_doctor.name != null %}
                    <a href="{{ path('app_main_doctorprofile', {id: search_doctor.id}) }}">
                        <h3>{{ search_doctor.name}}</h3></a>
                {% endif %}
                {% if search_doctor.biography != null %}
                    <p>{{ search_doctor.biography|striptags |truncate(200, true) |raw }}</p>
                {% endif %}
            {% endfor %}
            {% else %}
                <h4>По запросу <strong>{{ data }}</strong> ничего не найдено</h4>
        {% endif %}
    </div>
{% endblock %}