{% extends '@App/Main/header.html.twig' %}

{% block title %}Центр лучевой терапии - Контакты{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="footer_p">
                <h1>{% trans %}Контакты{% endtrans %}</h1>
                <p class="contacts_p">{% trans %}Телефоны{% endtrans %}:</p>
                    {% for phone in widget_phone.getPhones() %}
                        <span>{{ phone.content|raw }}</span>
                    {% endfor %}
            </div>
            <div class="map_contacts text-center col-lg-12">
                <a class="dg-widget-link" href="http://2gis.kg/bishkek/firm/70000001026069644/center/74.59710359573366,42.84787323411851/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">
                    Посмотреть на карте Бишкека</a>
                <div id="widget_id" class="dg-widget-link">
                    <a href="http://2gis.kg/bishkek/center/74.597204,42.846378/zoom/16/routeTab/rsType/bus/to/74.597204,42.846378╎IT-Attractor Plus, учебный центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">
                        Найти проезд до IT-Attractor Plus, учебный центр</a></div>
                <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js">
                </script>
                <script charset="utf-8">new DGWidgetLoader({"width":1140,"height":500,"borderColor":"#a3a3a3","pos":{"lat":42.84787323411851,"lon":74.59710359573366,"zoom":16},"opt":{"city":"bishkek"},"org":[{"id":"70000001026069644"}]});
                </script>
                <noscript style="color:#c00;font-size:16px;font-weight:bold;">
                    Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
            </div>
        </div>
    </div>



{% endblock content %}