{% extends "@App/Main/header.html.twig" %}

{% block title %}Врачи центра лучевой терапии{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="our_doctors">{% trans %}Наши врачи{% endtrans %}</h1>
        {% for doctor in doctors %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="main-block">
                    <a href="{{ path('app_main_doctorprofile', {id: doctor.id}) }}">
                        <img src="{{ vich_uploader_asset(doctor, 'imageFile')| imagine_filter ('doctors') }}"
                             alt="{{ doctor.imageFile }}" class="img-responsive">
                    </a>
                    <div class="capt text-center">
                        <a href="{{ path('app_main_doctorprofile', {id: doctor.id}) }}"><h5><strong>{{ doctor.name }}</strong></h5></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
