{% extends '@App/Main/header.html.twig' %}

{% block title %}Центр лучевой терапии - Оборудование{% endblock %}

{% block content %}

    <h1>Оборудование</h1>
    {#TODO#}

    <p>Необходимо содержание страницы от заказчика</p>

{% endblock content %}