{% extends "::base.html.twig" %}
{% set locale = app.session.get('_locale') %}
    {% block body %}
        {% block header %}
            <div class="arrow_up" id="toTop">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </div>
            <span id="locale" style="display: none">{{ locale }}</span>
            <div class="preheader">
                <div class="container">
                    <div class="contact_line_show">
                        <p class="address_p">Кыргызстан Бишкек</p>
                        <p><i class="glyphicon glyphicon glyphicon-earphone"></i>
                            {% for phone in widget_phone.getPhones() %}
                                <span>{{ phone.content|raw }}</span>
                            {% endfor %}
                        </p>
                        <div class="search-top text-right">
                            <form action="{{ path('app_hospital_finddata') }}" method="post"
                                  class="form-inline my-2 my-lg-0">
                                <input id="findData" name="data" class="form-control mr-sm-2" type="text"
                                       placeholder="{% trans %}Введите{% endtrans %}" aria-label="Search">
                                <button id="search_btn" class="search-btn btn btn-outline-success my-2 my-sm-0"
                                        type="submit" onClick="return empty()">
                                    <span class="glyphicon glyphicon-search"></span></button>
                            </form>
                        </div>
                        <div id="search_fail" style="display: none">
                            <p>{% trans %}Недопустимый ввод{% endtrans %}!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ path('app_main_index') }}"><img class="navbar-brand"
                                                                    src="{{ asset('images/logo.png') }}" alt=""></a>
                        <div class="logo-name text-left col-lg-3">
                            <a href="{{ path('app_main_index') }}" class="logo_link">{% trans %}Центр лучевой терапии{% endtrans %}</a>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav nav_head">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_main_index') }}">{% trans %}Главная{% endtrans %}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}О центре{% endtrans %}
                                </a> <span class="caret"></span>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('app_main_initiators') }}">{% trans %}Инициаторы{% endtrans %}</a>
                                    <a class="dropdown-item" href="{{ path('app_main_doctors') }}">{% trans %}Наши врачи{% endtrans %}</a>
                                    <a class="dropdown-item" href="{{ path('app_main_equipment') }}">{% trans %}Оборудование{% endtrans %}</a>
                                    <a class="dropdown-item" href="{{ path('app_main_partners') }}">{% trans %}Партнеры{% endtrans %}</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_main_allnews') }}">{% trans %}Новости{% endtrans %}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="{{ path('app_main_investor') }}" class="nav-link dropdown-toggle"
                                   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">{% trans %}Инвесторам{% endtrans %}
                                </a> <span class="caret"></span>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ path('app_main_founder') }}">{% trans %}Отцы основатели{% endtrans %}</a>
                                    <a class="dropdown-item" href="{{ path('app_main_investor') }}">{% trans %}Как стать инвестором{% endtrans %}?</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_main_contacts') }}">{% trans %}Контакты{% endtrans %}</a>
                            </li>

                            {% if app.user != null %}
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle"
                                       id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <b id="navigation">{% trans %}Навигация{% endtrans %}</b>
                                    </a> <span class="caret"></span>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="dropdown-item" href="{{ path('sonata_admin_dashboard') }}">{% trans %}Административная панель{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('app_hospital_patients') }}">{% trans %}Список пациентов{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('app_hospital_applications') }}">{% trans %}Заявки с сайта{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('app_hospital_personalarea') }}">{% trans %}Личный кабинет{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('app_chat_index') }}">{% trans %}Чат{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{% trans %}Выход{% endtrans %}</a>
                                        {% elseif is_granted('ROLE_DOCTOR') %}
                                            <a class="dropdown-item" href="{{ path('app_hospital_patients') }}">{% trans %}Список пациентов{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('app_hospital_personalarea') }}">{% trans %}Личный кабинет{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('app_chat_index') }}">{% trans %}Чат{% endtrans %}</a>
                                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{% trans %}Выход{% endtrans %}</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right lang-selectors">
                            <li id="rus"><a id="ru" href="{{ path('changeLocal', {'_locale' : 'ru'}) }}">Рус</a></li>
                            <li id="kgz"><a id="kg" href="{{ path('changeLocal', {'_locale' : 'kg'}) }}">Кырг</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        {% endblock header %}
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        {% block footer %}
            {% include ('@App/Main/footer.html.twig') %}
        {% endblock %}
        <script>
            $(function () {
                // реализация смены отображения активной локали
                var locale = $('#locale').text();
                if (locale === 'kg') {
                    $('#kgz').addClass("active");
                } else {
                    $('#rus').addClass("active");
                }

                //хэдер
                $(document).on("scroll", function () {
                    if ($(document).scrollTop() > 40) {
                        $(".navbar-default").removeClass("high").addClass("lo");
                    } else {
                        $(".navbar-default").removeClass("lo").addClass("high");
                    }
                });

                // реализация кнопки вверх
                $(window).scroll(function () {
                    if ($(this).scrollTop() !== 0) {
                        $('#toTop').fadeIn();
                    } else {
                        $('#toTop').fadeOut();
                    }
                });
                $('#toTop').click(function () {
                    $('body,html').animate({scrollTop: 0}, 800);
                });
            });

        </script>

        <script type="text/javascript">
            function empty() {
                var re = /^[A-ZА-Я\d ]+$/ui;
                var x = $('#findData').val();
                x = x.trim();
                console.log(x);
                if (!re.test(x)) {
                    var y = $('#search_fail');
                    y.show(1000);
                    return false;
                }
            }
        </script>
    {% endblock body %}