{% extends "@App/Main/header.html.twig" %}
{% form_theme form_popup 'bootstrap_3_layout.html.twig' %}

{% block title %}Центр лучевой терапии{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    {% set active = true %}
                    {% for slider in sliders %}
                        {% if active == true %}
                            <div class="item active">
                                <img class="img-responsive" src="{{ vich_uploader_asset(slider, 'imageFile')| imagine_filter ('slider') }}"
                                     alt="{{ slider.title }}">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            {% set active = false %}
                        {% else %}
                            <div class="item">
                                <img class="img-responsive" src="{{ vich_uploader_asset(slider, 'imageFile')| imagine_filter ('slider') }}"
                                     alt="{{ slider.title }}">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="info-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <h1>{% trans %}О ЦЕНТРЕ{% endtrans %}</h1>
                    {% for content in contents %}
                        <p class="center-info">{{ content.content }}</p>
                    {% endfor %}
                    <a href="{{ path('app_main_investor') }}" class="more_info btn btn-primary">
                        {% trans %}Подробнее{% endtrans %}
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="thumbnail block_doctor">
                        <a href="{{ path('app_main_doctorprofile', {id: doctor.id}) }}"><img
                                        src="{{ vich_uploader_asset(doctor, 'imageFile')| imagine_filter ('main_doctor') }}"
                                        class="img-doctor img-thumbnail" alt=""></a>
                        <div class="caption">
                            <a class="doctor_name_surname text-center" href="{{ path('app_main_doctorprofile', {id: doctor.id}) }}"><h4>{{ doctor.name }}</h4></a>
                            <p class="text_doctor text-center">{{ doctor.position }}</p>
                            <div class="text-center">
                                <button type="button" id="application" class="btn btn-primary doctor_priem"
                                        data-toggle="modal" data-target="#myModal">
                                    {% trans %}Записаться на прием{% endtrans %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade main_page" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close main_page" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"> {% trans %}Запись на прием{% endtrans %}</h4>
                            </div>
                            <div class="modal-body">
                                {{ form_start(form_popup, {'action': path('app_main_saveapplication'), 'method': 'POST', 'attr': {'id': 'mail_form'}}) }}
                                {{ form_widget(form_popup) }}

                                <div id="success" class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {% trans %}Ваше сообщение успешно отправлено{% endtrans %}
                                </div>
                                <div id="fail" class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {% trans %}Возникла ошибка. Попробуйте отправить сообщение снова{% endtrans %}
                                </div>
                                <input id="send_message" type="submit" value="Записаться"
                                       class="btn btn-primary doctor_priem">
                                {{ form_end(form_popup) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-8">
            <h2>{% trans %}НОВОСТИ{% endtrans %}</h2>
            {% for one_news in news %}
                <div class="one_news">
                    <a href="{{ path('app_main_showonenews', {id: one_news.id}) }}" class="news_title">
                        {{ one_news.title }}
                    </a>
                    <div class="one_news_body">
                        {% if one_news.newsImage != null %}
                            <img src="{{ vich_uploader_asset(one_news, 'imageFile')| imagine_filter ('news_index') }}"
                                 alt="{{ one_news.newsImage }}" class="news_image">
                        {% endif %}
                        <div class="news_body">{{ one_news.content | truncate(600, true) |raw }}</div>
                        <div style="clear: both"></div>
                    </div>
                    <a href="{{ path('app_main_showonenews', {id: one_news.id}) }}" class="news_more">{% trans %}Подробнее{% endtrans %}</a>
                    <div style="clear: both"></div>
                </div>
            {% endfor %}
            <a href="{{ path('app_main_morenews') }}" class="more_news btn btn-primary">{% trans %}Больше новостей{% endtrans %}</a>
            <a href="{{ path('app_main_allnews') }}" class="all_news btn btn-primary">{% trans %}Все новости{% endtrans %}</a>
        </div>
    </div>

    <script>
        $('#mail_form').submit(function (e) {
            e.preventDefault();
            var m_data = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/save_application',
                data: m_data,
                success: function () {
                    $('#mail_form').trigger('reset');
                    $('#success').show(1000);
                },
                error: function () {
                    $('#fail').show(300);
                }
            });
        });
    </script>
{% endblock %}
