{% extends '@App/Main/header.html.twig' %}

{% block title %}Центр лучевой терапии - Новости{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans %}НОВОСТИ{% endtrans %}</h1>
        {% for one_news in pagination %}
            <div class="one_news">
                <a href="{{ path('app_main_showonenews', {id: one_news.id}) }}" class="news_title">
                    {{ one_news.title }}
                </a>
                <p class="news_date">{{ one_news.date|date('Y-m-d') }}</p>
                <div class="one_news_body">
                    {% if one_news.newsImage != null %}
                        <img src="{{ vich_uploader_asset(one_news, 'imageFile')| imagine_filter ('news_index') }}"
                             alt="{{ one_news.newsImage }}" class="news_image">
                    {% endif %}
                    <span>{{ one_news.content | truncate(600, true) |raw}}</span>
                    <div style="clear: both"></div>
                </div>
                <a href="{{ path('app_main_showonenews', {id: one_news.id}) }}" class="news_more">{% trans %}Подробнее{% endtrans %}</a>
                <div style="clear: both"></div>
            </div>

        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock content %}