{% extends '@App/Main/header.html.twig' %}

{% block title %}Центр лучевой терапии - Партнеры{% endblock %}

{% block content %}

    <h1>Партнеры</h1>
    {#TODO#}

    <p>Необходимо содержание страницы от заказчика</p>

{% endblock content %}