{% extends '@App/Main/header.html.twig' %}

{% block content %}
    <div class="container">
    <div class="col-sm-offset-3 col-sm-6 chat_area">
        <h1>Чат</h1>
        <div id="chat-list"></div>
        <hr>
        <textarea id="form-message" placeholder="Your public message here" class="textarea"></textarea>
        <input type="button" id="form-submit" value="Отправить" class="btn btn-success btn-send">
    </div>

    <script>

        // This object will be sent everytime you submit a message in the sendMessage function.
        var clientInformation = {
            username: '{{ user.username }}'
            // You can add more information in a static object
        };

        // START SOCKET CONFIG
        /**
         * Note that you need to change the "sandbox" for the URL of your project.
         * According to the configuration in Sockets/Chat.php , change the port if you need to.
         * @type WebSocket
         */

        var host = window.location.hostname;
        console.log(host);
        var conn = new WebSocket('ws:'+ host + ':8000');
//        var conn = new WebSocket('ws://localhost:8000');

        conn.onopen = function(e) {
            console.info("Connection established succesfully");

            $.ajax({
                type: 'POST',
                url: '/load-chat',
                success: function (data_objects) {
                    $.each(JSON.parse(data_objects), function (i, object) {
                        clientInformation.name = object.username;
                        var div_chat = $('#chat-list');
                        var message_me = $('<div class="mes_me"></div>');
                        var message_other = $('<div class="user_mes"></div>');
                        var clearfix = $('<div style="clear: both"></div>');

                        var username = $('<span class="username"></span>');
                        username.append(object.username);

                        if (object.id === {{ user.id }}) {
                            message_me.append(object.message);
                            div_chat.append(message_me).append(clearfix);
                        } else {
                            message_other.append(object.message);
                            div_chat.append(message_other).append(username).append(clearfix);
                        }
                    });
                }
            });
        };

        conn.onmessage = function(e) {
            var data = JSON.parse(e.data);
            Chat.appendMessage(data.username, data.message);

            console.log(data);
        };

        conn.onerror = function(e){
            alert("Error: something went wrong with the socket.");
            console.error(e);
        };
        // END SOCKET CONFIG

        /// Some code to add the messages to the list element and the message submit.
        document.getElementById("form-submit").addEventListener("click",function(){
            var msg = document.getElementById("form-message").value;

            if(msg.trim() !== ''){
                var data = {
                    'id': {{ user.id }},
                    'message': msg
                };

                $.ajax({
                    type: 'POST',
                    url: '/save-message',
                    data: {
                        data: JSON.stringify(data)
                    },
                    dataType: 'json',
                    success: function (data) {
                    }
                });

                Chat.sendMessage(msg);
                // Empty text area
                document.getElementById("form-message").value = "";
            } else {
                alert("Please send something on the chat");
            }

        }, false);

        // Mini API to send a message with the socket and append a message in a UL element.
        var Chat = {
            appendMessage: function(username, message){
                var from;

                if(username == clientInformation.username){
                    from = "me";
                }else{
                    from = username;
                }

                // Append List Item
                var div_chat = $('#chat-list');
                var message_me = $('<div class="mes_me"></div>');
                var message_other = $('<div class="user_mes"></div>');
                var clearfix = $('<div style="clear: both"></div>');

                if (from == 'me') {
                    message_me.append(message);
                    div_chat.append(message_me).append(clearfix);
                } else {
                    message_other.append(message);
                    div_chat.append(message_other).append(clearfix);
                }
            },
            sendMessage: function(text){
                clientInformation.message = text;
                // Send info as JSON
                conn.send(JSON.stringify(clientInformation));
                // Add my own message to the list
                this.appendMessage(clientInformation.username, clientInformation.message);
            }
        };
    </script>
{% endblock content %}