.contact_line_show {
    height: 40px;
    background: #fff;
}

.contact_line_show p {
    display: inline-block;
    float: left;
    margin: 10px 5px 0 0;
}

.contact_line_show p.address_p{
    margin-right: 30px;
}

.contacts_p {
    color: #97a0b3;
    font-weight: bolder;
}

.phone_span p{
    display: inline-block; !important;
    margin: 0 15px 0 3px;
}

.footer_p {
    margin-top: 45px;
}

p.tel-bottom {
    padding-top: 45px;
    display: inline-block;
    float: left;
    padding-right: 20px;
}

.preheader {
    background: #fff;
    border-bottom: 1px solid #c0c0c0;
    width: 100%;
    margin-bottom: 10px;
    color: #97a0b3;
}

.navbar-default {
    background: #fff;
}

.locale_selector {
    float: right;
    margin: 8px;
}
.add_button{
    margin-bottom: 20px;
}
.navbar-default {
    width: 100%;
    background: #fff;
}
.my_search{
    width: 100%;
    display: inline;
}
.search-top{
    margin-top: 5px;
}
.search_error{
    margin-top: 5px;
}
#search_fail p{
    float: right;
    margin: 5px 0 5px 0;
    padding: 3px 7px;
    color: #FFFFFF;
    background-color: #bf0f2d;
}
.form-control{
    line-height: 1;
    padding: .5rem .75rem;
    border-radius: 0;
    height: 30px;
}
form .search-btn{
    border-radius: 0;
    height: 30px;
}
.logo-name {
    text-transform: uppercase;
    font-size: 16px;
    color: #008fce;
    margin: 5px 0 0 10px;
}

.nav-link {
    display: inline-block;
!important;
}

.menu-head {
    text-transform: uppercase;
    list-style: none;
    display: block;
}

.lang-selectors {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-right: 73px;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #4ba9f9;
    height: 30px;
    margin-top: 8px;
    padding-top: 5px;
}

ul.navbar-nav li {
    list-style: none;
    padding-right: 15px;
}

ul.menu-head.nav.navbar-nav, .drop {
    padding-top: 15px;
}

.drop > a {
    color: #777;
}

a.dropdown-item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
}

.navbar-nav > li > .dropdown-menu {
    width: max-content;
}

.navbar-default img {
    width: 60px;
    height: 75px;
    padding-top: 5px
}

/* Sizes for the smaller menu */
.navbar-default.lo {
    width: 100%
}

.navbar-default.lo {
    height: 80px;
    top: 0;
    position: fixed;
}

.navbar-default.lo .navbar-nav > a {
    color: #ffffff;
    background-color: #4ba9f9;
    height: 30px;
    margin-top: 18px;
    padding-top: 5px;
}

.navbar-default, img, li {
    transition: all 0.4s;
    -moz-transition: all 0.4s; /* Firefox 4 */
    -webkit-transition: all 0.4s; /* Safari and Chrome */
    -o-transition: all 0.4s; /* Opera */
    z-index: 10000;
}

.content {
    padding-top: 10px;
    min-height: calc(100vh - 100px);
}

.center-info {
    margin-left: 0;
    font-size: 20px;
}

.info-block {
    background: #eff5f6;
}

.block_doctor {
    margin-top: 15px;
}

.doctor_name_surname {
    color: black;
}

.img-doctor {
    width: 100%;
    max-height: 200px;
}

.one_news_body {
    display: block;
    width: 100%;
    font-style: normal;
!important;
    font-weight: normal;
!important;
}

.one_news {
    border-bottom: 1px solid #b8c7ce;
}

.news_title {
    color: black;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 4px;
    display: inline-block;
    font-style: normal;
!important;
    font-weight: bold;
!important;
}

.news_title:hover {
    color: black;
}

.news_image {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 10px 10px 10px;
}

.news_more {
    float: right;
    margin-bottom: 7px;
    margin-top: 7px;
    font-style: normal;
!important;
    font-weight: normal;
!important;
}

.all_news {
    background-color: #008FCE;
    color: black;
    border: none;
    border-radius: 20px;
    margin: 15px 0 15px 0;
}

.more_news {
    background-color: #e3c300;
    color: black;
    border: none;
    border-radius: 20px;
    margin: 15px 0 15px 0;
}

.more_news:hover {
    border: none;
    background-color: #008FCE;
    color: black;
}

.all_news:hover {
    border: none;
    background-color: #e3c300;
    color: black;
}

.text_doctor {
    padding: 5px;
    color: #8c8c8c;
    font-style: italic;
    font-size: 14px;
}

.doctor_priem {
    border-radius: 20px;
    /*margin-top: 55px;*/
}
span.search_item {
    background-color: #fbf069;
    display: inline-block;
}

#overview-wrap h1 {
    margin-top: 50px;
    font-size: 60px;
    color: #42abd8;
}

#overview-wrap p {
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
}

#overview-wrap span {
    font-size: 25px;
    font-weight: normal;
}

#aims-wrap {
    text-align: center;
    background: url("../images/aims-bg.jpg") no-repeat fixed center center;
    min-height: 637px;
    width: 100%;
    background-size: 100%;
    color: #FFFFFF;
    margin-top: 50px;
}

#aims-wrap h2 {
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

p.aims {
    font-size: 25px;
}

.aim_items {
    border: 2px solid #FFFFFF;
    list-style: none;
    display: inline-block;
    float: left;
    margin-top: 50px;
    min-height: 271px;
    vertical-align: middle;
    margin-right: 50px;
    width: 20%;
}

.aim_items p {
    font-size: 17px;
}

#obzor-wrap {
    margin-top: 50px;
}

#obzor-wrap p {
    font-size: 23px;
    text-transform: uppercase;
}

#obzor-wrap span {
    font-size: 15px;
    text-transform: uppercase;
}

#obzor-wrap h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
}

#analys-wrap {
    text-align: center;
    background: url("../images/analiz-bg.jpg") no-repeat fixed center center;
    min-height: 805px;
    width: 100%;
    background-size: 100%;
    margin-top: 50px;
}

#analys-wrap h2 {
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

#analys-wrap h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.analys-items1 {
    font-size: 23px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.3);
    min-height: 280px;
}

.analys-items2 {
    font-size: 23px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2);
    min-height: 280px;
}

#equip-wrap {
    background-color: #f4f4f4;
}

#equip-wrap h2 {
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
}

#equip-wrap h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #373737;
}

#equip-wrap ul li {
    list-style: none;
    font-size: 17px;
    color: #373737;
    padding-bottom: 20px;
}

.equip_list {
    margin-top: 50px;
}

.equip-img {
    margin-top: 30px;
}

#invest-wrap h2 {
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
}

#invest-wrap p {
    font-size: 17px;
    color: #373737;
}

#invest-wrap span {
    font-size: 20px;
    color: #373737;
}

#invest-wrap h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 40px;
}

.center_h2 h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
}

.table-bordered-blue th,
.table-bordered-blue td {
    font-size: 17px;
    border: 1px solid #44afdb !important;
}

.table-bordered-green th,
.table-bordered-green td {
    font-size: 17px;
    border: 1px solid #5abb19 !important;
}

.bg-blue {
    background-color: #44afdb;
    color: #FFFFFF;
}

.bg-green {
    background-color: #5abb19;
    color: #FFFFFF;
}

.table_list li {
    list-style-type: circle;
}

.comment {
    margin-top: 50px;
    background-color: #FFFFFF;
    margin-bottom: 50px;
    padding: 30px 20px;
}

.comment p {
    font-size: 35px;
    font-weight: bold;
}

.comment span {
    font-size: 20px;
    color: #44afdb;
}

#bottom-wrap {
    background-color: #5c5c5c;
}

p.comment-p {
    font-size: 17px;
    color: #d8d8d8;
    font-weight: normal;
    margin-left: 60px;
    margin-bottom: 30px;
}

span.email-p {
    color: #47abd5;
}

.footer_link {
    color: white;
    padding-left: 10px;
}

.copyright {
    font-size: 20px;
    padding-top: 40px;
    display: inline-block;
}

.modal.fade.main_page {
    top: 10%;
}

.close.main_page {
    font-size: 30px;
}

.main-block {
    display: inline-block;
    color: #757e85;
    padding-bottom: 15px;
    /*height: 300px;*/
    border: 1px solid #dfe0e2;
    margin-bottom: 30px;
    width: 100%;
}

.main-block:hover {
    box-shadow: rgba(0, 140, 202, 0.2) 0 0 15px 0;
}

.capt {
    color: inherit;
    padding: 15px 15px 0 15px;
}

.capt > h3 {
    margin-top: 0;
}

.capt.text-center {
    height: 60px;
}

.doctors_photo {
    display: block;
    max-width: 100%;
    height: 200px;
}

#success, #fail {
    display: none;
}

.news_date {
    color: #777;
}

.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 100px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#patients > tbody > tr > th {
    border: 1px solid #0093D2;
!important;
    background-color: #0093D2;
    color: #FFFFFF;
}

.navbar-default .navbar-nav .dropdown.open a:focus {
    background-color: #FFFFFF;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

#footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #7e7e7e;
}

.date_group {
    text-align: center;
    background: #0091CF;
    color: white;
}

.news_one_box {
    background: #fcf9f9;
    padding: 2px 25px;
    margin-bottom: 15px;
}

.news_one_box .content_news_one {
    font-size: 20px;
}

.date_news {
    color: grey;
    display: block;
    margin-bottom: 5px;
}

.arrow_up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    background-color: #fff;
    top: 80%;
    z-index: 10002;
    right: 1.5%;
    display: none;
    cursor: pointer;
    color: #0091CF;
    text-align: center;
    font-size: 25px;
    padding-top: 8px;
    padding-left: 2px;
    border: 2px solid #FAD106;
}

.clickable-row {
    cursor: pointer;
}

.response {
    border: 1px solid grey;
    padding: 0 0 10px 10px;
    margin-bottom: 10px;
}


#navigation {
    color: #0093D2;
}

.map_contacts {
    margin-top: 15px;
    margin-bottom: 30px;
}
.photo_doctor {
    margin-top: 25px;
}
.profile_name {
    margin-top: 20px;
    margin-bottom: 0;
}
hr.profile_hr {
    margin: 5px 0;
}
p.profile_position {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 22px;
    color: #008fce;
}
.profile_caption {
    color: #97a0b3;
    font-size: 16px;
    text-transform: uppercase;
}

.logo_link:hover {
    text-decoration: none;
    color: #337ab7;
}

.patient_name {
    margin-left: 15px;
}

.facebook:hover {
    color: #4267B2;
}

.twitter:hover {
    color: #1DA1F2;
}

.vk_ru:hover {
    color: #507299;
}

.ok_ru:hover {
    color: #EE8208;
}

.our_doctors {
    margin-left: 15px;
}
.doctor-record {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #008fce;
    border-radius: 10px;
}
.date-doctor {
    font-size: 12px;
    color: #7e7e7e;
}

.img_one_news {
    float: left;
    margin: 0 10px 10px 0;
}

.more_info {
    margin-top: 15px;
    border-radius: 50px;
}

.chat_area {
    box-shadow: rgba(33,63,81,0.5) 0 0 15px 0;
    background-color: white;
    overflow-y: scroll;
    height: 500px;
}

.textarea {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 100px;
    resize: none;
}

.btn-send {
    margin-top: 10px;
    margin-bottom: 10px;
}

.user_mes {
    background-color: #FACA07;
    color: black;
    float: left;
    max-width: 80%;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

.mes_me {
    background-color: #008FCE;
    float: right;
    max-width: 80%;
    margin: 2px;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.username {
    margin-top: 5px;
    font-size: 12px;
    color: green;
}

.nav_head {
    margin-left: -90px;
}